{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}

    
<div class="container">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
    {% block container %} {% endblock %}

<h2> Bienvenue sur BibApp! </h2>

Petite webapp de démonstration. Base de données de publications ESIEE, lecture et expoitation 
<ul>
<li> Login <a href='/login'> voir là </a>  </li>
<li> selectEC <a href='/selectEC'> enseignants-chercheurs </a>  </li>
<li> selectLabo <a href='/selectLabo'> labos </a>  </li>
<li> Liste <a href='/affichEC'> liste pubs personne </a>  </li>
<li> Liste <a href='/affichLabo'> liste pubs labo </a>  </li>
<li> Graphique <a href='/graphLabo'> les pubs en version graphique </a>  </li>
</ul>

</div>

{% endblock %}
